.itemflex {
    position: relative;
    height: 275px;
    margin-top: 25px;
}
  
.item-img-container {
    height: 244px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product-Img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.product-btn-and-title {
    display: flex;
    font-size: 12px;
    padding: 0 4px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    color: #ffffff;
    font-weight: 800;
    background-image: #6668f4;
    position: absolute;
    align-self: flex-end;
    background:#6668f4;
    position: absolute;
    right: 0;
    border-radius: 3px;
    justify-content: flex-start;
    top: 230px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.product-btn-and-title:hover {
    background-color: #6668f4 !important;
    border-color: #6668f4 !important;
}

.item-detail-btn-container{
    position: relative;
    display: flex;
    bottom: 230px;
}

.item-detail-btn-container button{
    background: #fff;
    border-radius: 3px;
    border: 0.5px solid #6668f4;
    color: #6668f4;
    width: 100%;
    height: 30px;
    cursor: pointer;
    padding: 0px;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


  

