
.cart-main-container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-items {
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    padding: 15px 120px;
}

.footer{
  align-self: "baseline";
  width: 110vw;
  padding: 15px 130px;

}

.footer-h3 {
  color: grey; 
  align-self: flex-end;
  padding-right: 0px;
}

.contenedor {
  background-color: rgba(255,255,255,.85);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
  width: 90%;
}

.cart-item-img {
  height: 50px; 
  margin-right: 15px;
}

.cart-item-li {
  text-decoration: none; 
  list-style-type: none;
  padding: 0rem 0.5rem;
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  border-radius: .25rem;
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.cart-item-remove-all-btn {
  background-color: #6668f4 !important;
  border-color: #6668f4 !important;
}