.item-detail-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: flex-end;
    align-items: center;
    padding: 0 120px;
    margin-top: 30px;
}

.buy-icon {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-right:10px;
    background-color: #6668f4;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.fas {
    color: #fff;  
}

.buy-widget-container{
    position: relative;
    display: flex;
    width: 100vw;
    height: 130px;
    justify-content: center;
    align-items: center;
}



